/* General Styles */

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.form-control {
    margin-bottom: 6px;
}

/* Doctor List */
.doctor-list {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;

}
.row{
    margin-left: 20px;
}

.card {
    margin-bottom: 20px;
    margin-left: 15px;
}

.card-img-top {
    height: 180px;
    object-fit: cover;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 5px;
}


.navstaff{
    position: relative;
    height: 35px;

}
.but{
    position: absolute;
    height: 30px;
}

.btn-primary:hover {
    background-color: #fff;
    color: blue;
}

.medform{
    text-decoration: none;
}



@media (max-width: 576px) {
.card-img-top {
height: 200px;
}
.card-title {
    font-size: 1rem;
}

.card-text {
    font-size: 0.8rem;
}

.btn-primary {
    font-size: 0.8rem;
}
}